* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.custom__header .custom__header__middle ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.custom__header .custom__header__middle ul li {
  margin-right: 20px;
}
